.screen {
  /* 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden; */
  text-align: center;
  background-color: rgb(60, 158, 161);
  
  
}
.screen.editable{
  cursor: crosshair;
}

.leave-comment-text{
  transform: translateY(-50%);
  padding: 5px 10px;
}

.note{
  background: var(--color);
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff;
}

.note-box{
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
  z-index: 4;
  transform: translateX(-50%) translateY(40px);
  border-radius: 4px;
  width: 300px;
}

.note-box select{
  color: #fff;
  appearance: none;
  border: 1px solid #666;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  background: var(--color);
}

.note-box textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 3px;
  resize: none;
  font-family: Arial, sans-serif;
}

.note-box textarea:focus {
  border-color: #000;
}
.note-box-number{
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-100% - 20px));
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color);
  display: flex;
  align-items: center;
  justify-content: center;
}